@import url("../themes/water.css");
@import url("../themes/light.css");
@import url("../themes/dark.css");
@import url("../themes/pastelEarth.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background-clr);
}

.flex-centre-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-centre-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: var(--link-clr);
}

a:hover {
    color: var(--link-hover-clr);
}