*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.flex-centre-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-centre-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button,
input[type="submit"] {
    cursor: pointer;
}