@import url("./app.css");

header {
    width: 100vw;
    padding: 1px;
    background-color: var(--header-clr);
}

header h1 {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    color: var(--header-text-clr)
}