@import url("./app.css");

.form__input-button,
.form__input-text,
.multiplier__button {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 2px;
}

.start__instructions-button {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    border-radius: 2px;
}

#instructions-btn {
    width: 40px;
    background-color: transparent;
    border: 0;
    margin-left: 5px;
}

.svg-response {
    margin-top: 10px;
    width: 10%;
}

main {
    padding: 10px;
}

span {
    margin-top: 10px;
}

form {
    width: fit-content;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    text-indent: 3px;
}

input[type="text"]:focus {
    outline-color: hsl(146, 61%, 39%);
}

input[type="text"]:hover {
    border-color: hsl(0, 0%, 50%);
}

input[type="submit"] {
    background-color: transparent;
}

main>div {
    text-align: center;
}