@import url("./app.css");

.form__input-button,
.form__input-text,
.multiplier__button {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 2px;
}

.start__instructions-button {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    border-radius: 2px;
}

main {
    padding: 10px;
}

main form {
    margin-top: 10px;
}

main form label {
    margin-right: 10px;
}

main form input[type="text"] {
    width: 50%;
    text-indent: 3px;
}

main form input[type="text"]:focus {
    outline-color: hsl(146, 61%, 39%);
}

main form input[type="text"]:hover {
    border-color: hsl(0, 0%, 50%);
}

main form input[type="submit"] {
    background-color: transparent;
}

main>div {
    text-align: center;
}