@import url("./app.css");

.form__input-button,
.form__input-text,
.multiplier__button {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: 2px solid var(--search-border-clr);
    border-radius: 2px;
}

.start__instructions-button {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    color: var(--main-text-clr);
}

#instructions-btn,
#settings-btn {
    width: 40px;
    background-color: transparent;
    border: 0;
    margin-left: 5px;
    fill: var(--svg-buttons-clr)
}

#instructions-btn:hover,
#settings-btn:hover {
    fill: var(--svg-buttons-hover-clr);
}

.response-interface {
    color: var(--main-text-clr);
    text-align: center;
}

.svg-response {
    margin-top: 10px;
    width: 10%;
    fill: var(--svg-interface-clr);
}

main {
    padding: 10px;
}

span {
    margin-top: 10px;
}

form {
    width: fit-content;
}

label {
    margin-right: 10px;
    color: var(--main-text-clr);
}

input[type="text"] {
    text-indent: 3px;
    background-color: transparent;
    color: var(--main-text-clr);
}

input[type="text"]:focus {
    outline-color: var(--search-border-focus-clr);
}

input[type="text"]:hover {
    border-color: var(--search-border-hover-clr);
}

input[type="submit"] {
    background-color: transparent;
    color: var(--main-text-clr);
}