.mobile-bar {
    margin-top: 30px;
    gap: 20px;
}

.bar-button {
    width: 50%;
    max-width: 150px;
    background-color: transparent;
    color: var(--svg-buttons-clr);
}

.bar-button:hover {
    color: var(--svg-buttons-hover-clr);
}

.bar-button svg {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    margin-right: 10px;
    fill: var(--svg-buttons-clr)
}

.bar-button:hover svg {
    fill: var(--svg-buttons-hover-clr)
}