@import url("./app.css");

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(--modal-clr);
    z-index: 1;

    h2,
    p,
    label {
        color: var(--modal-text-clr);
    }

    p {
        font-size: 0.8rem;
    }

    button {
        font-family: "Poppins", sans-serif;
        padding: 5px 5px;
        border: none;
        border-radius: 2px;
    }
}

button.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    fill: (--modal-checkbox-clr);
    width: 32px;
    height: 32px;
}

select {
    appearance: base-select;
    color: var(--modal-text-clr);
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid var(--modal-checkbox-clr);
    vertical-align: -7px;
    color: var(--modal-checkbox-clr);
    margin-right: 10px;
}

input[type="checkbox"]::before {
    content: "\2714";
    position: absolute;
    font-size: 1.2rem;
    left: 1px;
    top: -5px;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

ul.modal-list {
    list-style-type: disc;
    padding-left: 1.5em;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    color: var(--modal-text-clr);
}

ul.modal-list>li {
    cursor: pointer;
}