@import url("./app.css");

ul {
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;

    li {
        flex-direction: column;
        padding: 0;

        h2{
            border: 2px solid black;
            border-radius: 3px;
            width: 2em;
            height: 2em;
            cursor: pointer;

            /* Prevent highlighting when tapping on tile */
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }
    }
}