@import url("./app.css");

.triple-tile-colour {
    background-color: var(--triple-tile-clr);
    color: var(--primary-tile-text-clr);
}

.double-tile-colour {
    background-color: var(--double-tile-clr);
    color: var(--primary-tile-text-clr);
}

.blank-tile-colour {
    background-color: var(--blank-tile-clr);
    color: var(--secondary-tile-text-clr);
}

.restore-tile-colour {
    background-color: var(--restore-tile-clr);
    color: var(--primary-tile-text-clr);
}

ul.tile-list {
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

ul.tile-list li {
    display: flex;
    flex-direction: column;
    padding: 0;
}

ul.tile-list h2 {
    cursor: pointer;
    border: 2px solid var(--tile-border-clr);
    border-radius: 3px;
    width: 2em;
    height: 2em;

    /* Prevent highlighting when tapping on tile */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

ul.tile-list h3 {
    color: var(--main-text-clr);
}