@import url("./app.css");

#multiplier__buttons {
    gap: 10px;
    margin-bottom: 10px;
}

#score {
    font-size: 1.5rem;
    color: var(--main-text-clr);
}

.multiplier__button {
    background-color: var(--multipler-btn-clr);
    color: var(--main-text-clr);
}