.mobile__bar {
    margin-top: 30px;
    gap: 20px;
}

.bar__button {
    width: 50%;
    max-width: 150px;
    background-color: transparent;
    color: var(--svg-buttons-clr);

    font-family: "Poppins", sans-serif;
    padding: 5px 5px;
    border: 2px solid var(--search-border-clr);
    border-radius: 2px;
}

.bar__button:hover {
    color: var(--svg-buttons-hover-clr);
}

.bar__button svg {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    margin-right: 10px;
    fill: var(--svg-buttons-clr)
}

.bar__button:hover svg {
    fill: var(--svg-buttons-hover-clr)
}