@import url("../../styles/app.css");

.tripleTileColour {
    background-color: var(--triple-tile-clr);
    color: var(--primary-tile-text-clr);
}

.doubleTileColour {
    background-color: var(--double-tile-clr);
    color: var(--primary-tile-text-clr);
}

.blankTileColour {
    background-color: var(--blank-tile-clr);
    color: var(--secondary-tile-text-clr);
}

.restoreTileColour {
    background-color: var(--restore-tile-clr);
    color: var(--primary-tile-text-clr);
}

.tileList {
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-top: 30px;
}

.tileItem {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: bold;
}

.tileLetter {
    cursor: pointer;
    border: 2px solid var(--tile-border-clr);
    border-radius: 3px;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    font: inherit;
    font-size: 1.5rem;
    line-height: 1;

    /* Prevent highlighting when tapping on tile */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.tileLetter:hover {
    filter: brightness(0.95);
}

.tileScore {
    color: var(--main-text-clr);
    font-size: 1.25rem;
    line-height: 1.2;
}