body[data-theme="pastel-earth-theme"] {
    --background-clr: #fdf8f2;
    --main-text-clr: #4b3f36;

    --triple-tile-clr: #cbb69c;
    --double-tile-clr: #dcd3b2;
    --blank-tile-clr: #f5e8d0;
    --restore-tile-clr: var(--blank-tile-clr);
    --primary-tile-text-clr: #4b3f36;
    --secondary-tile-text-clr: var(--blank-tile-clr);

    --link-clr: #a79982;
    --link-hover-clr: #cbb69c;

    --svg-buttons-clr: #4b3f36;
    --svg-interface-clr: #8c7b6b;

    --header-clr: #a79982;
    --header-text-clr: #fdf8f2;

    --modal-clr: #e8dfd3;
    --modal-text-clr: #4b3f36;
    --modal-checkbox-clr: #4b3f36;

    --tile-border-clr: #cbb69c;
    --search-border-clr: #b3a391;
    --search-border-focus-clr: #a79982;
    --search-border-hover-clr: #9b8f7f;


}