body[data-theme="water-theme"] {
    --background-clr: #e0f7fa;
    --main-text-clr: #000;

    --multipler-btn-clr: #b2ebf2;

    --triple-tile-clr: #00acc1;
    --double-tile-clr: #80deea;
    --blank-tile-clr: #b2ebf2;
    --restore-tile-clr: var(--blank-tile-clr);

    --primary-tile-text-clr: #004d4f;
    --secondary-tile-text-clr: var(--blank-tile-clr);

    --link-clr: #00acc1;
    --link-hover-clr: #1de9b6;

    --svg-buttons-clr: #0e92a4;
    --svg-buttons-hover-clr: #004d4f;
    --svg-interface-clr: #0e92a4;

    --header-clr: #006064;
    --header-text-clr: #ffffff;

    --modal-clr: #00796b;
    --modal-text-clr: #ffffff;
    --modal-checkbox-clr: #ffffff;

    --tile-border-clr: #00796b;
    --search-border-clr: #004d40;
    --search-border-focus-clr: #1de9b6;
    --search-border-hover-clr: #00bfae;
}